<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AsmxWorkerServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52845/AsmxWorkerService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AsmxWorkerServiceSoap"
                contract="AsmxWorkerService.AsmxWorkerServiceSoap" name="AsmxWorkerServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>