<div class="container-fluid well">

    <div class="panel">
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#translateAdd">Add</button>
                    </p>
                </div>
            </div>

             <table  *ngIf="translates && translates.length" class="table table-striped">
                 <thead class="head">
                 <tr><th>Phrase</th><th>Translate</th><th class="pull-right">Action</th></tr>
                 </thead>
                 <tbody>
                     <tr *ngFor="let translate of translates">
                         <td>{{translate.phrase}}</td>
                         <td>{{translate.translation}}</td>
                         <td><button class="btn btn-link pull-right" (click)="removeTranslate(translate)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button></td>
                     </tr>
                 </tbody>
                 </table>

            <div *ngIf="!(translates && translates.length)">
                <h3>No translations found!</h3>
            </div>

        </div>
    </div>

</div>

<translate-add></translate-add>